/* CSS declarations go here */

span {
  color: blue;
}

#categories {
  padding: 10px 20px;
  border: 2px solid black;
}

#categories * {
  display: inline;
  font-weight: bold;
  padding-right: 15px;
}

.selected {
  background-color: red;
}

#quizListUL li {
  list-style: none;
}

#quizResults {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 500px;
  padding: 10px 20px;
	border: 2px solid gray;
  background-color: white;
}

.quizListDiv {
  padding: 25px 10px;
}

.sidebar {

}

.mainwindow {
  padding-left: 30px;
  border-left: 4px solid purple;
}